.container {
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "header header header" "sidebar-left content sidebar-right" "footer footer footer";
}

.container > div {  /* για το div που υπαρχει μεσα στο container */
    padding: 10px; 
    margin: 10px;
    background-color: rgb(220,220,220);
}

.header {
    grid-area: header;
}

.sidebar-left {
    grid-area: sidebar-left;
}

.sidebar-right {
    grid-area: sidebar-right;
}

.footer {
    grid-area: footer;
}

.content {
    grid-area: content;
}

@media screen and (max-width:669px) {
    .container {
        display: grid;
        grid-template-rows: 200px auto;
        grid-template-columns: 100%;
        grid-template-areas: "header" "sidebar" "content" "footer";
    }
}

